# -------------------------
# Node modules
# -------------------------
node_modules/
**/node_modules/

# -------------------------
# Build / dist
# -------------------------
frontend/dist/
backend/dist/
frontend/build/
backend/build/

# -------------------------
# Environment files
# -------------------------
*.env
.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env

# -------------------------
# Logs
# -------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store

# -------------------------
# Mac / Windows
# -------------------------
Thumbs.db
Desktop.ini
