@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables personnalisées */
:root {
  --radius-card: 24px;
  --color-primary: #111;
  --color-secondary: #e5e5e5;
}

/* Body global */
body {
  @apply bg-neutral-100 text-neutral-900 font-sans;
}

/* Classes utilitaires personnalisées */
.card-rounded {
  border-radius: var(--radius-card);
}
